<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<h1>Create product</h1>
<p>
    <a href="/products">product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-product}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <select th:field="*{phone}">
                    <option th:each="p : ${phones}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Model :</td>
            <td><input type="text" th:field="*{model}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create a new product"></td>
        </tr>
    </table>
</form>
</body>
</html>